.venv
.idea/
docs/html/
.env
alembic.ini
venv/
Lib
Include
pyvenv.cfg
.vscode
**/__pycache__
downloads
[S]cripts
temp*
.python-version
.pytest_cache/
.started_containers*
Procfile
.testmondata
/app/storage
.venv
.ruff_cache
volumes/
permissions.json
pytest.local.ini
app/celerybeat-schedule